@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'redditsearch';

.footer-content a {
  text-decoration: underline;
}

.navbar{
  .navbar-start{
    img{
      max-width:50px;
      filter: invert(1);
    }
  }
}